.jumbotron {
    display: flex;
    background-image: url("/img/pizza.png");
    background-size: cover;
    height: 346px;
    align-items: center;
}

.jumbotron>h1 {
    text-align: center;
    width: 100%;
    line-height: 2em;
}

