body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

:root{
    --bg-info: #cddeff;
    --text-info: #5852a8;
    --bg-success: #cff3da;
    --text-success: #408e5f;
    --bg-warning: #fcfbc9;
    --text-warning: #a3933b;
    --bg-error: #fad3d7;
    --text-error: #b9707d;
}


.message-info{
    background-color: var(--bg-info);
    border: 1px black;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    color: var(--text-info);
}

.message-success {
    background-color: var(--bg-success);
    border: 1px black;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    color: var(--text-success);
}

.message-warning {
    background-color: var(--bg-warning);
    border: 1px black;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    color: var(--text-warning);
}

.message-error {
    background-color: var(--bg-error);
    border: 1px black;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    color: var(--text-error);
}